<div class="browse-container">
  <aside class="static-playlist">
    <h3>Featured Playlist</h3>
    <ul class="playlist-items">
      <li class="playlist-item">
        <img src="https://i.scdn.co/image/ab67616d0000485151c02c5fdea616ad3d5d904e" alt="Money Trees" class="playlist-cover">
        <div class="track-info">
          <p class="track-name">Money Trees</p>
          <p class="track-artist">Kendrick Lamar, Jay Rock</p>
        </div>
        <span class="track-duration">6:27</span>
      </li>
      <li class="playlist-item">
        <img src="https://i.scdn.co/image/ab67616d00004851881d8d8378cd01099babcd44" alt="I KNOW" class="playlist-cover">
        <div class="track-info">
          <p class="track-name">I KNOW ?</p>
          <p class="track-artist">Travis Scott</p>
        </div>
        <span class="track-duration">3:32</span>
      </li>
      <li class="playlist-item">
        <img src="https://i.scdn.co/image/ab67616d00004851a5e14fce624e8639bfbddf15" alt="Gnat" class="playlist-cover">
        <div class="track-info">
          <p class="track-name">Gnat</p>
          <p class="track-artist">Eminem</p>
        </div>
        <span class="track-duration">3:45</span>
      </li>
      <li class="playlist-item">
        <img src="https://i.scdn.co/image/ab67616d00004851908005950913e62b24340d3c" alt="DNA" class="playlist-cover">
        <div class="track-info">
          <p class="track-name">DNA.</p>
          <p class="track-artist">Kendrick Lamar</p>
        </div>
        <span class="track-duration">3:06</span>
      </li>
      <li class="playlist-item">
        <img src="https://i.scdn.co/image/ab67616d00004851a5c512b5187f6e99fd7e2ad5" alt="St. Chroma" class="playlist-cover">
        <div class="track-info">
          <p class="track-name">St. Chroma (feat. Daniel Caesar)</p>
          <p class="track-artist">Tyler, The Creator</p>
        </div>
        <span class="track-duration">3:17</span>
      </li>
      <li class="playlist-item">
        <img src="https://i.scdn.co/image/ab67616d0000485150d0d069a634a671d4fb8b34" alt="OUT WEST" class="playlist-cover">
        <div class="track-info">
          <p class="track-name">OUT WEST (feat. Young Thug)</p>
          <p class="track-artist">JACKBOYS, Travis Scott</p>
        </div>
        <span class="track-duration">2:38</span>
      </li>
      <li class="playlist-item">
        <img src="https://i.scdn.co/image/ab67616d000048515f3ede47954a7a07ac2c799c" alt="Beautiful" class="playlist-cover">
        <div class="track-info">
          <p class="track-name">Beautiful</p>
          <p class="track-artist">Snoop Dogg, Pharrell Williams</p>
        </div>
        <span class="track-duration">4:58</span>
      </li>
      <li class="playlist-item">
        <img src="https://i.scdn.co/image/ab67616d00004851a5e14fce624e8639bfbddf15" alt="Farewell" class="playlist-cover">
        <div class="track-info">
          <p class="track-name">Farewell</p>
          <p class="track-artist">Eminem</p>
        </div>
        <span class="track-duration">4:08</span>
      </li>
      <li class="playlist-item">
        <img src="https://i.scdn.co/image/ab67616d000048512cd15e5e537e2eeea2f26483" alt="No Role Modelz" class="playlist-cover">
        <div class="track-info">
          <p class="track-name">No Role Modelz</p>
          <p class="track-artist">J. Cole</p>
        </div>
        <span class="track-duration">4:53</span>
      </li>
    </ul>
  </aside>

  <div class="main-content">
    @if (isLoading) {
      <div class="loading-indicator">
        <p>Loading...</p>
      </div>
    }

    @if (hasError) {
      <div class="error-message">
        <p>Sorry, something went wrong with the search. Please try again.</p>
      </div>
    }

    @if (results && !isLoading && !hasError && (results.albums?.items?.length > 0 || results.tracks?.items?.length > 0)) {
      <div class="results-container">
        <section class="results-section">
          <h3>Albums</h3>
          @if (results.albums && results.albums.items && results.albums.items.length > 0) {
            <ul class="results-list">
              @for (album of results.albums.items; track album.id) {
                <li class="result-item">
                  <a [routerLink]="['/album', album.id]" class="result-link">
                    <img [src]="album.images[2]?.url || album.images[1]?.url || album.images[0]?.url"
                         alt="{{album.name}} cover" class="result-image">
                    <span class="result-name">{{ album.name }}</span>
                    <span class="result-artist"> - {{ album.artists[0]?.name }}</span>
                  </a>
                </li>
              }
            </ul>
          } @else {
            <p>No albums found for your search.</p>
          }
        </section>

        <section class="results-section">
          <h3>Tracks</h3>
          @if (results.tracks && results.tracks.items && results.tracks.items.length > 0) {
            <ul class="results-list">
              @for (track of results.tracks.items; track track.id) {
                <li class="result-item">
                  <img [src]="track.album?.images[2]?.url || track.album?.images[1]?.url || track.album?.images[0]?.url"
                       alt="{{track.album?.name}} cover" class="result-image">
                  <span class="result-name">{{ track.name }}</span>
                  <span class="result-artist"> - {{ track.artists[0]?.name }}</span>
                </li>
              }
            </ul>
          } @else {
            <p>No tracks found for your search.</p>
          }
        </section>
      </div>
    }
  </div>
</div>